<f:layout name="BackendStandard" />

<f:section name="content">
	<div id="tx-cihooklist"></div>
</f:section>

<f:section name="button-toolbar">
	<f:be.menus.actionMenu>
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function1')}" controller="BackendHookList" action="list" />
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function2')}" controller="BackendHookList" action="list" />
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function3')}" controller="BackendHookList" action="list" />
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function4')}" controller="BackendHookList" action="list" />
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function5')}" controller="BackendHookList" action="list" />
		<f:be.menus.actionMenuItem label="{f:translate(key: 'function6')}" controller="BackendHookList" action="list" />
	</f:be.menus.actionMenu>
</f:section>